@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");

body,
html {
  font-family: "Open Sans", sans-serif;
}

body {
  width: 40%;
  margin: 0 auto;
}

#back {
  position: absolute;
  left: 150px;
  padding: 20px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.15s ease;
}

#back:hover {
  border: 2px solid black;
}

#back:active {
  border: 2px solid gray;
}

.date {
  position: relative;
  font-size: 14px;
  top: -20px;
  margin: 0;
  padding: 0;
}

#posts {
  list-style: none;
  padding-left: 0;
}

#posts > li {
  background-color: #ecf0f1;
  padding: 5px;
  margin-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 4px;
  border: 4px solid transparent;
  cursor: pointer;
  transition: all 0.15s ease;
}

#posts > li:hover {
  border: 4px solid #bfc4c5;
}

#posts > li:active {
  border: 4px solid #848788;
}

.post-title {
  border-bottom: 2px solid currentColor;
  line-height: 0.95;
  text-shadow: 2px 2px white, 2px -2px white, -2px 2px white, -2px -2px white;
}
